<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <appSettings>
        <!--What should this application be called. - Mostly when inserting/updating records for "insertedBy"/"updatedBy"-->
        <add key="appName" value="GxAlert" />
        <!--What kind of events to log: 0=Info, 1=Warning, 2=Error-->
        <add key="logLevel" value="0" />
        <!--If there is an error, send an email to-->
        <add key="errorTo" value="error@test.com" />
        <!--If a new deployment is submitting data, send notification to the following emails-->
        <add key="newDeploymentTo" value="new@test.com" />
        <!--What port to listen on-->
        <add key="portToListenOn" value="2900" />
        <!--SMTP Credentials-->
        <add key="smtpServer" value="smtp.test.net" />
        <add key="smtpUser" value="user" />
        <add key="smtpPassword" value="pw" />
        <!--Twilio API Credentials-->
        <add key="twilioAccountSid" value="sid" />
        <add key="twilioAuthToken" value="token" />
        <add key="twilioFromNumber" value="+1" />
    </appSettings>
    <connectionStrings>
        <add name="GxAlertEntities" connectionString="metadata=res://*/BigPicture.csdl|res://*/BigPicture.ssdl|res://*/BigPicture.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mqsqlserver;user id=userid;password=pw;database=gxalert&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
</configuration>